body{
    background-color: #84994F;
}
*{
    text-decoration: none;
}
h1{
    font-family: "Libre Baskerville";
;
}
.navbar{
    background-color: #FFE797;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;

}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.home{
    margin-bottom: 10px;
}
.home a{
    font-size: 3rem;
    font-style: italic;
    font-weight: 500;
    color: #A72703;

}
.logo{
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}
.navdiv li{
    list-style: none;
    display: inline;
    margin: 10px;
    font-size: 2.5rem;
}
.navdiv li a{
    color: #A72703;
    font-style: oblique;
}

.first-element{
    margin-top: 150px;
    text-align: center;
    color: #531201;
}

.box{
    margin-top: 50px;
    background-color: #a7b753;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    border-radius: 20px;
}





.input-box{
    width: 60%;
    height: 50px;
    border: groove;
    border-radius: 20px;
    /* margin-left: 20%;
    margin-right: 20%; */
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 2rem;
}

.add-button{
    background-color: #A72703;
    border: none;
    border-radius: 8px;
    margin-left: 20px;
    height: 50px;
    width: 100px;
    cursor: pointer; 

}
.add-button:hover{
    background-color: #4b1607;
    color: #ad300d;
}
.input-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

hr{
    width: 80%;
    height: 5px;
    background-color: rgb(67, 53, 26);
    border-radius: 20px;
}
.show-list{
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 10px;
}
.todo-item{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.check-box{
    width: 20px;
    margin-bottom: 8px;
    color: #4b1607;
}

.delete-button{
    background-color: #A72703;
    border: none;
    border-radius: 8px;
    margin-left: 20px;
    margin-top: -10px;
    height: 50px;
    width: 100px;
    cursor: pointer; 
}
.delete-button:hover{
    background-color: #4b1607;
    color: #ad300d;
}



.profile_div{
    width: 80%;
    margin-top: 150px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
    float: right;
    font-size: larger;
}
.profile_pic{
    height: 300px;
    float: left;
    margin-top: -5%;
    border-radius: 40%;
    padding: 30px;
}

.footer{
    font-size: 1.5rem;
    display: block;
    text-align: center;
    
}
